**/__pycache__/
**/node_modules/
frontend/build/*
backend/post-training/augmentations/*
backend/static/generated_masks/*
backend/static/phanoptic/*
backend/static/gradcam/*
backend/data.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

**.log

.DS_Store
