**/__pycache__/
**/node_modules/
frontend/build/*
backend/post-training/augmentations/*
backend/static/generated_masks/*
backend/static/phanoptic/*
backend/static/gradcam/*
backend/static/watermark/*
backend/static/upload_image/*
backend/data.db
backend/post-training/basemodel/
backend/post-training/paper_result/*
backend/post-training/retraining_result/*
backend/static.zip
backend/seem_focall_v0.pt

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

**.log

.DS_Store
